<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Hire&Delivery</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
	<header>
		<div class="logo">
			<a th:href="@{index}" href="index.html">
				<img class="grapficlogo"  src="../static/img/logo.svg" th:src="@{/img/logo.svg}" alt="logo"/>
			</a>
		</div>
		<nav>
			<div class="topnav">
				<ul>
					<li><a th:href="@{index}" href="index.html">ГЛАВНАЯ</a></li>
				    <li><a href="#">КАТАЛОГ ТОВАРОВ</a></li>
				    <li><a href="#">УСЛОВИЯ ЗАКАЗА И ДОСТАВКИ</a></li>
				    <li><a href="#">О НАС</a></li>
				    <li><a href="#">КОНТАКТЫ</a></li>
				    <li><a id="menu" href="#">&#9776;</a></li>
				</ul>
			</div>
		</nav>
	</header>
</body>
</html>