<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>H&D | Редактор товаров</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
	<header>
		<div class="logo">
			<a th:href="@{/index}" href="index.html">
				<img class="grapficlogo"  src="../static/img/logo.svg" th:src="@{/img/logo.svg}" alt="logo"/>
			</a>
		</div>
		<nav>
			<div class="topnav">
				<ul>
					<li><a th:href="@{/index}" href="index.html">ГЛАВНАЯ</a></li>
				    <li><a th:href="@{/catalog}" href="catalog.html">КАТАЛОГ ТОВАРОВ</a></li>
				    <li><a href="#">УСЛОВИЯ ЗАКАЗА И ДОСТАВКИ</a></li>
				    <li><a href="#">О НАС</a></li>
				    <li><a href="#">КОНТАКТЫ</a></li>
				    <li><a th:href="@{/admin}" href="admin.html">УПРАВЛЕНИЕ</a></li>
				    <li><a id="menu" href="#">&#9776;</a></li>
				</ul>
			</div>
		</nav>
	</header>
	
	<div id="createProductForm" class="productForm">
		<p>Создание товара</p>
		<form th:action="@{/admin/createProduct}" action="#" method="post" th:object="${prod}">
			<p>Категория товара:
				<select th:field="*{type}">
				 	<option th:each="type : ${goodsTypes}" 
				 			th:value="${type.name}" 
				 			th:text="${type.name}" 
				 			th:selected="${prod.type.name}"></option> 
				</select>
			</p>				
			<p>Наименование:
				<input type="text" th:field="*{name}"></input>
			<p>				
			<p>Залоговая стоимость:
				<input type="number" th:field="*{collateralValue}"></input>
			</p>			
			<p>Минимальный срок аренды:
				<input type="number" th:field="*{minRentalTerm}"></input>
			</p>
			<p>Тарифы:
				<select th:field="*{tariffs}" multiple="multiple">
					<option th:each="tariff: ${tariffs}"
							th:value="${tariff.id}"
							th:text="${tariff.pricePerPeriod + ' рублей за ' + tariff.rentalPeriod + ' дней ' 
							+ tariff.pledgeRequired}"
					></option>
				</select>
			</p>
			<p><input type="submit" value="Создать"></p>
		</form>
	</div>
	
	<div id="editProductForm" class="productForm">
		<p>Редактировать товар</p>
		<form th:action="@{/admin/editProduct}" action="#" method="post" th:object="${prod}">
			<p>Товар:
				<select th:field="*{id}">
					<option th:each="tempProd : ${goods}"
							th:value="${tempProd.id}"
							th:text="${'[' + tempProd.id + '] ' + tempProd.name}"></option>
				</select>
			</p>
			<p>Категория товара:
				<select th:field="*{type}">
				 	<option th:each="type : ${goodsTypes}" 
				 			th:value="${type.name}" 
				 			th:text="${type.name}" 
				 			th:selected="${prod.type.name}"></option> 
				</select>
			</p>				
			<p>Наименование:
				<input type="text" th:field="*{name}" th:text="${prod.name}"></input>
			<p>				
			<p>Залоговая стоимость:
				<input type="number" th:field="*{collateralValue}"></input>
			</p>			
			<p>Минимальный срок аренды:
				<input type="number" th:field="*{minRentalTerm}"></input>
			</p>
			<p>Тарифы:
				<select th:field="*{tariffs}" multiple="multiple">
					<option th:each="tariff: ${tariffs}"
							th:value="${tariff.id}"
							th:text="${tariff.pricePerPeriod + ' рублей за ' + tariff.rentalPeriod + ' дней ' 
							+ tariff.pledgeRequired}"
					></option>
				</select>
			</p>
			<p><input type="submit" value="Изменить"></p>
		</form>
	</div>
		
	<div id="deleteProductForm" class="productForm">
		<p>Удалить товар</p>
		<form th:action="@{/admin/deleteProduct}" action="#" method="post" th:object="${prod}">
			<p>Товар:
				<select th:field="*{id}">
					<option th:each="tempProd : ${goods}"
							th:value="${tempProd.id}"
							th:text="${'[' + tempProd.id + '] ' + tempProd.name}"></option>
				</select>
			</p>
			<p><input type="submit" value="Удалить"></p>
		</form>
	</div>
</body>
</html>

